<div class="container mx-auto pt-16 px-2 xl:px-24">
    <h1 class="font-normal text-2xl xl:text-4xl mb-8">A simple tool for studying the behavior of single-degree-of-freedom systems</h1>
    
    <span class="block font-bold">Version 0.1 (still under development)</span>
    <span class="block font-semibold text-teal-800 mb-8">Created by Jeremy Atkinson</span>

    <div class="text-gray-700 text-lg">
        <p class="mb-6">SDOF is a free tool to study the behavior of single-degree-of-freedom systems (SDOFs) under various types of
            excitation. It can also be used to generate various excitation patterns, quickly inspect ground motion files, and export excitation patterns to a file.</p>
        <p class="mb-6">Under the hood, the tool is using recurrence formulas to calculate the system response. The method is rather
            straightforward, and a detailed explanation is available in many structural analysis textbooks and online.</p>
        <span class="mb-6">SDOF was built using Angular 8.0 and tailwindCSS, and is hosted on Github. There are still some bugs to be fixed and features to be added. 
            If you see something wrong you can let me know at: </span><a class="underline" href="mailto:jeremy@sdof.ca">jeremy@sdof.ca</a>
    </div>

</div>