<div class="container mx-auto flex flex-row flex-wrap">
    <div class="w-full lg:mr-4 lg:max-w-xs">
        <form novalidate class="card" #myform="ngForm"> 
            <fieldset>
                <legend class="text-teal-500 mb-4">System Properties</legend>
                <div class="mb-4">
                    <label for="period" class="input-label">Period (sec)</label>
                    <input id="period" name="period" type="number" placeholder="period (eg. 0.5 seconds)" class="input" [(ngModel)]="data.period" required min=0.0 step=0.1>
                </div>
                <div class="mb-4">
                    <label class="input-label" for="damp">Damping (%)</label>
                    <input id="damping" name="damp" type="number" placeholder="damping (eg. 5%)" class="input" [(ngModel)]="data.damp" required step=0.1 min=0.0>
                </div>
            </fieldset>
            <fieldset>
                <legend class="text-teal-500 mb-4">Excitation Properties</legend>
                <div class="mb-4">
                    <label for="func" class="input-label">Function Type</label>
                    <select id="func" name="fid" class="selector" [(ngModel)]="data.fid" (change)="functionChange(data.fid)">
                        <optgroup label="Harmonic">
                            <option [ngValue]=0>{{ functionTypes[0].fullname }}</option>
                            <option [ngValue]=1>{{ functionTypes[1].fullname }}</option>
                            <option [ngValue]=2>{{ functionTypes[2].fullname }}</option>
                        </optgroup>
                        <optgroup label="Impulse">
                            <option [ngValue]=3>{{ functionTypes[3].fullname }}</option>
                            <option [ngValue]=4>{{ functionTypes[4].fullname }}</option>
                        </optgroup>
                        <optgroup label="From File">
                            <option [ngValue]=5>{{ functionTypes[5].fullname }}</option>
                            <option [ngValue]=6>{{ functionTypes[6].fullname }}</option>
                            <option [ngValue]=7>{{ functionTypes[7].fullname }}</option>
                        </optgroup>
                        <optgroup label="Ground Motion">
                            <option [ngValue]=8>{{ functionTypes[8].fullname }}</option>
                        </optgroup>
                    </select>
                    <span class="text-xs text-gray-600" [innerHTML]="data.func.note"></span>
                </div>
                <div class="mb-4" *ngIf="data.fid>4 && data.fid<8">
                    <label for="procfile" class="input-label">File upload</label>
                    <input id="procfile" name="file" type="file" class="input text-xs" #file required (change)="handleTextFile($event)">
                </div>

                <div class="mb-4"  *ngIf="data.fid<3">
                    <label for="funcperiod" class="input-label">Excitation Period (sec)</label>
                    <input id="funcperiod" name="funcperiod" type="number" placeholder="period (eg. 0.5 sec)" class="input" [(ngModel)]="data.funcperiod" step=0.1 min=0.0>
                </div>
                <div class="mb-4" *ngIf="data.fid<5">
                    <label class="input-label" for="amp">Amplitude</label>
                    <input id="amp" name="amp" type="number" placeholder="peak value (eg. 6.0 m/s²)" class="input" [(ngModel)]="data.amp" required step=0.1 min=0.0>
                </div>
                <div class="mb-4" *ngIf="data.fid!==6">
                    <label class="input-label" for="dt">Time Step</label>
                    <input id="dt" name="dt" type="number" placeholder="time step (eg. 0.05 sec)" class="input" [(ngModel)]="data.dt" required min=0.001 step=0.001>
                </div>
                <div class="mb-4">
                    <label class="input-label" for="excitetime">Excitation Duration</label>
                    <input id="excitetime" name="excitetime"  type="number" placeholder="duration (eg. 5 sec)" class="input" [(ngModel)]="data.excitetime" step=0.1 min=0.0>
                </div>
                <div class="mb-4">
                    <label class="input-label" for="totaltime">Total Analysis Duration</label>
                    <input id="totaltime" name="totaltime" type="number" placeholder="duration (eg. 20 sec)" class="input" [(ngModel)]="data.totaltime" step=0.5 min=0.0>
                </div>
                <div class="mb-4" *ngIf="data.fid<3">
                    <label class="input-label" for="hshift">Horizontal Shift</label>
                    <input id="hshift" name="hshift" type="number" placeholder="shift all values in time" class="input" [(ngModel)]="data.hshift" step=0.1>
                </div>
                <div class="mb-4" *ngIf="data.fid<3">
                    <label class="input-label" for="vshift">Vertical Shift </label>
                    <input id="vshift" name="vshift" type="number" placeholder="shift all values in accel" class="input" [(ngModel)]="data.vshift" step=0.1>
                </div>
                <div class="mb-4" *ngIf="data.fid>4">
                    <label class="input-label" for="scalefactor">Scale Factor</label>
                    <input id="scalefactor" name="scalefactor" type="number" placeholder="acceleration scale factor" class="input" [(ngModel)]="data.scalefactor" step=0.1>
                </div>
                <button class="text-gray-500 text-xs font-semibold float-right hover:text-teal-500" (click)="resetForm()">Reset</button>
                <!-- <button class="text-teal-700 font-bold float-left hover:text-teal-500" (click)="this.debug()">Dump Values</button> -->
            </fieldset>
        </form>
    </div>

    <div class="card flex-grow flex flex-col justify-start">
        <form novalidate #plotControl="ngForm">
            <fieldset>
                <legend class="text-teal-500 mb-4">Plot Controls</legend>
                <div class="mb-4">
                    <label for="yaxis" class="input-label">Y-Axis Parameter</label>
                    <select id="yaxis" name="yaxis" class="selector" [(ngModel)]="data.yaxis" (change)="handleSelectChange()">
                        <option *ngFor="let opt of plotOptions" [ngValue]="opt.val">{{ opt.name }}</option>
                    </select>
                </div>
            </fieldset>
        </form>
        <div class="mb-4">
            <span class="text-teal-500 my-4">Response</span>
            <button class="text-gray-500 text-xs font-semibold float-right hover:text-teal-500" (click)="showModalData = !showModalData">{{ showModalData ? "Switch to Graph" : "Switch to Table" }}</button>
        </div>
        <plotly-plot *ngIf="!showModalData" class="flex-grow" 
        [data]="plotData"
        [layout]="plotLayout"
        [useResizeHandler]="true" 
        [style]="{position: 'relative', width: '100%'}">
        </plotly-plot>
        <div *ngIf="showModalData" class="flex-grow max-h-screen overflow-auto">
            <table class="table-auto text-xs">
                <thead>
                    <th class="px-4 py-2">Time</th>
                    <th class="px-4 py-2">Excitation</th>
                    <th class="px-4 py-2">Acceleration</th>
                    <th class="px-4 py-2">Velocity</th>
                    <th class="px-4 py-2">Displacement</th>
                </thead>
                <tbody>
                    <tr *ngFor="let row of data.series[0]; index as i">
                        <td class="border px-2 py-1">{{row.x | number }}</td>
                        <td class="border px-2 py-1">{{row.y | number }}</td>
                        <td class="border px-2 py-1">{{data.series[2][i].y | number }}</td>
                        <td class="border px-2 py-1">{{data.series[3][i].y | number }}</td>
                        <td class="border px-2 py-1">{{data.series[4][i].y | number }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
